h1 {
  color:#E31937;
  font-family: Arial;
  font-size:550%;
}
h2 {
  font-family: Arial;
  color:#991F3D;
  font-size:300%;
  text-align:auto;
  text-decoration:underline;

}
h3 {
  font-family: Arial;
  font-size: 150%;
}
p {
  font-size: 25px;
}

textarea {
  resize: none;
}
select:focus, textarea:focus, input:focus{
  background-color: cyan;
  border: 3px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body {
  font-family: Arial;
  font-size: 115%;
}
table {
    border: 5px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
td {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 1px;
    text-align: left;
}

th {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: #A5ACB0;
}
.HR {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: #A1C4D0;
}
.VEND {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: #F2A200;
}

.EMP {
  border: 3px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color: #FF6A00;
}
button.cancelbtn {
  padding-left: 2em;
  padding-right: 2em;
}
button.log {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  padding-right: 5em;
}
