<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-mapping>index</servlet-mapping>
  </servlet>

  <servlet>
    <servlet-name>mailapp</servlet-name>
    <servlet-class>MailApp</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>mailapp</servlet-name>
    <servlet-mapping>email</servlet-mapping>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-mapping>register</servlet-mapping>
  </servlet>

  <servlet>
    <servlet-name>rmform</servlet-name>
    <servlet-class>RMForm</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>rmform</servlet-name>
    <servlet-mapping>RM_Form</servlet-mapping>
  </servlet>

  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-class>Validate</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>validate</servlet-name>
    <servlet-mapping>index</servlet-mapping>
  </servlet>

</web-app>
